%button.submit-btn
  = link_to "edit note", edit_mynote_path, class: "link"
%button.submit-btn
  = link_to "delete", mynote_path, method: :delete, class: "link"
%button.submit-btn
  = link_to "back", root_path, class: "link"
%button.submit-btn
  = link_to "my notes", mynotes_path, class: "link"
%button.submit-btn
  = link_to "all notes", notes_path, class: "link"
