%nav
  =link_to notes_path do
    .header
      =image_tag("note-4.png",class: 'logo')
      .title Note Tracker
      .drop-down A Rails app by spenser tingey

  -if user_signed_in?

    = link_to destroy_user_session_path, method: :delete do
      .taz
        Sign Out
    = link_to new_note_path do
      .taz{:class => ("active" if current_page?(new_note_path))}
        New Note
    = link_to mynotes_path do
      .taz{:class => ("active" if current_page?(mynotes_path))}
        My Notes
    = link_to notes_path do
      .taz{:class => ("active" if current_page?(notes_path) || current_page?(root_path))}
        All Notes
  -else
    = link_to new_user_session_path do
      .taz{:class => ("active" if current_page?(new_user_session_path))}
        Log in
    = link_to new_user_registration_path do
      .taz{:class => ("active" if current_page?(new_user_registration_path))}
        Sign up
    = link_to notes_path do
      .taz{:class => ("active" if current_page?(notes_path) || current_page?(root_path))}
        All Notes
